<html>
 <head>
  <style type="text/css">
    @media (max-width: 375px) {
        .edit-form tr td input {
            width: 100%;
        }

        .edit-form tr th:first-child, .edit-form tr td:first-child {
            width: 20%;
        }

        .edit-form tr th:nth-last-of-type(-n+2), .edit-form tr td:nth-last-of-type(-n+2) {
            display: none;
        }
    }

    .edit-form table > tbody > tr td a.btn-delcfg {
        visibility: hidden;
    }

    .edit-form table > tbody > tr:hover td a.btn-delcfg {
        visibility: visible;
    }
</style> 
 </head>
 <body>
  <div class="panel panel-default panel-intro"> 
   <div class="panel-heading">  
    <ul class="nav nav-tabs"> 
     <li class="active"><a href="#enterprise" data-toggle="tab">关于我们</a></li>	 
    </ul> 
   </div> 
   <div class="panel-body"> 
    <div id="myTabContent" class="tab-content"> 
     <div class="tab-pane fade active in" id="enterprise"> 
      <div class="widget-body no-padding"> 
       <form id="basic-form" class="edit-form form-horizontal nice-validator n-default n-bootstrap" role="form" data-toggle="validator" method="POST" action="{:url('Admin/wwh/Home/enterprise')}" novalidate="novalidate"> 
        <input type="hidden" name="__token__" value="3d21ee81f41717393f2f12f92c2fa29f" /> 
        <table class="table table-striped"> 
         <tbody> 
          <tr> 
           <td style="width:8%">关于标题</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="about_title" value="{$data['about_title']}" class="form-control" /> 
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>about_title</td> 
           <td></td> 
          </tr> 
          <tr> 
           <td style="width:8%">关于介绍</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
			  <textarea id="c-introduction" name="introduction" class="form-control editor" rows="5" name="introduction" cols="50">{$data.introduction|htmlentities}</textarea>
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>introduction</td> 
           <td></td> 
          </tr> 
          <tr> 
           <td style="width:8%">标题1</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="title1" value="{$data['title1']}" class="form-control" /> 
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>title1</td> 
           <td></td> 
          </tr>
          <tr> 
           <td style="width:8%">描述1</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="description1" value="{$data['description1']}" class="form-control" />
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>description1</td> 
           <td></td> 
          </tr>
          <tr> 
           <td style="width:8%">标题2</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="title2" value="{$data['title2']}" class="form-control" />
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>title2</td> 
           <td></td> 
          </tr>
          <tr> 
           <td style="width:8%">描述2</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="description2" value="{$data['description2']}" class="form-control" />
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>description2</td> 
           <td></td> 
          </tr>	
          <tr> 
           <td style="width:8%">标题3</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="title3" value="{$data['title3']}" class="form-control" />
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>title3</td> 
           <td></td> 
          </tr>
          <tr> 
           <td style="width:8%">描述3</td> 
           <td> 
            <div class="row"> 
             <div class="col-sm-8 col-xs-12"> 
              <input type="text" name="description3" value="{$data['description3']}" class="form-control" />
             </div> 
             <div class="col-sm-4"></div> 
            </div> </td> 
           <td>description3</td> 
           <td></td> 
          </tr>		  
         </tbody> 
         <tfoot> 
          <tr> 
           <td></td> 
           <td> <button type="submit" class="btn btn-success btn-embossed">保存</button> </td> 
           <td></td> 
           <td></td> 
          </tr> 
         </tfoot> 
        </table> 
       </form> 
      </div> 
     </div>

    </div> 
   </div> 
  </div>
 </body>
</html>