<!-- 返回顶部 -->
<div class="right clearfix">
  <ul class="ul1">
    <li class="clearfix dh">
      <div class="img"><img src="__ADDON__/images/tel.png"></div>
      <div class="cla"><span>0571-88888888</span></div>
    </li>
    <li class="clearfix ly" >
      <a target="_blank" href="{:addon_url('wwh/index/contact')}#message">
        <div class="img"><img src="__ADDON__/images/ly.png"></div>
        <div class="cla"><span>客户留言</span></div>
      </a>
    </li>
    <li class="clearfix top">
      <div class="img"><img src="__ADDON__/images/top.png"></div>
    </li>
  </ul>
</div>

<div class="footer">
  <div class="foot-tops">
    <div class="container">
      <div class="left-nav">
        {$config['content']}
      </div>
      <div class="right-box">
        <div class="tt">关注我们<span></span></div>
        <div class="code-box">
          <img src="{$config['image']}" alt="wechat">
        </div>
        <div class="text"><img src="__ADDON__/images/wx.png" alt=""><span>打开微信扫一扫</span></div>
      </div>
    </div>
  </div>
  <div class="footer_b">
    <h3>{$config['copyright']}<i><span><a target="_blank" href="http://www.beian.gov.cn/"><img style="margin:-8px 2px 0 0;"src="__ADDON__/images/beian.png">&nbsp;{$config['gongwang']} | <a href="http://www.beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">{$config['beian']}</a></span></i></h3>
  </div>
</div>