<div class="alert alert-danger-light">
    <i class="fa fa-warning"></i> 这是演示的电子面单发货示例</div>
<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>订单号</th>

            <th>下单时间</th>
            <th>支付时间</th>
            <th>购买者</th>
            <th>总额</th>
            <th>支付金额</th>
            <th>留言备注</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>12345678</td>
            <td>2020年2月26日 17:47</td>
            <td>2020年2月26日 17:47</td>
            <td> amplam</td>
            <td>1000</td>
            <td>1000</td>
            <td>演示</td>
        </tr>

        </tbody>
    </table>
    <h4>商品信息</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>产品图片</th>
            <th>产品名称</th>
            <th>产品编号</th>
            <th>价格</th>
            <th>购买数量</th>

        </tr>
        </thead>
        <tbody>

        <tr>
            <td><img alt="" src="https://cdn.fastadmin.net/uploads/20190314/ef66dee7a1e51772a5eaf94e9c747baa.png" width="50px"></td>
            <td>京东闪付手环 公交地铁一卡通</td>
            <td>1000</td>
            <td>100</td>
            <td>1</td>
        </tr>


        </tbody>
    </table>
    <h4>发货信息</h4>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">收货人姓名:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" type="text" data-rule="required" class="form-control" name="row[name]" value="收件人"  />
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">收货人手机:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" type="number" data-rule="required" class="form-control" name="row[mobile]" value="13800138000"  />
        </div>
    </div>
    <div class="form-group">
        <label for="c-detail" class="control-label col-xs-12 col-sm-2">发货地址:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area">
                <select class="province form-control" name="province" data-url="ajax/area" ">
                    <option value="19" selected=""></option>
                </select>
                <select class="city form-control" name="city" data-url="ajax/area" >
                    <option value="20" selected=""></option>
                </select>
                <select class="area form-control" name="area" data-url="ajax/area" >
                    <option value="21" selected=""></option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-detail" class="control-label col-xs-12 col-sm-2">详细地址:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-detail" type="text" data-rule="required" class="form-control" name="row[detail]" value="北街一号207房"  />
        </div>
    </div>


    <div class="form-group">
        <label for="c-express_id" class="control-label col-xs-12 col-sm-2">物流/快递:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-express_id"  data-source="electronics/index/selectpage" data-field="express_name"  data-rule="required"  class="form-control selectpage" name="row[express_id]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="add_kuaidi" class="btn btn-primary fachoose_da" data-multiple="false"><i class="fa fa-plus"></i> 添加快递</button></span>
                </div>
                <span class="msg-box n-right"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-express_code" class="control-label col-xs-12 col-sm-2">快递单号:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-express_code"  class="form-control" name="row[express_code]" type="text" value="">
            <span class="text-gray">不输入自动生成电子面单</span>
        </div>
    </div>
    <input type="hidden" name="row[order_code]" value="12345678">

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
        </div>
    </div>
</form>


